<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>
</head>
<body id="anunuaire-expe">
<header class="header">
  <div class="header_top">
    <div class="logo"><a href="annuaire-expe.html#"><img src="images/logo.png" alt=" " /></a></div>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    <div class="social"> <a href="annuaire-expe.html#" class="gplus"></a> <a href="annuaire-expe.html#" class="twitter"></a> <a href="annuaire-expe.html#" class="facebook"></a> <a href="annuaire-expe.html#" class="linkedin"></a> <a href="annuaire-expe.html#" class="viadeo"></a> <a href="annuaire-expe.html#" class="copy"></a> <a href="annuaire-expe.html#" class="favoris"></a> </div>
  </div>
  <nav class="main-navigation">
    <div class="nav_container">
      <div class="search">
        <input type="text" placeholder="Tapez votre recherche ici" />
        <button></button>
      </div>
      <div class="menu">
        <ul>
          <li><a href="annuaire-expe.html#"> Transporteurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li class="selected"><a href="annuaire-expe.html#" > Expéditeurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="annuaire-expe.html#"> Sécurité<br />
            <span>Conseillers à la sécurité</span> </a></li>
        </ul>
      </div>
      <div class="newsletter"> <a href="annuaire-expe.html#"> Newsletter<br />
        <span>S’inscrire</span> </a> </div>
      <div class="options"> <a class="annonceur" href="annuaire-expe.html#"> Espace<br />
        annonceurs </a> <a class="inscri_annuaire" href="annuaire-expe.html#"> Inscription<br />
        annuaire </a> <a class="information" href="annuaire-expe.html#"> Demande<br />
        d’informations </a> <a class="contact" href="annuaire-expe.html#"> Nous<br />
        contacter </a> </div>
    </div>
  </nav>
</header>
<div class="banner"> 
<div id="slides2">
       <img src="images/slider-img.jpg"> <img src="images/slider-img2.jpg"> <img src="images/slider-img4.jpg"> <img src="images/slider-img5.jpg"> <img src="images/slider-img6.jpg">
    </div>
</div>
<div class="clear"></div>
<div class="main">
<p class="top_description">
Vous êtes transporteur MD ou assimilé et vous recherchez un prestataire ou un partenaire expert en matières dangereuses pouvant intervenir pour vous et vos clients en votre nom ?<br>Solutions TMD est votre outil privilégié pour trouver tous les prestataires MD dont vous avez besoin. Au-delà de la quantité d’adresse fournie par l’annuaire spécialiste des expéditeurs de marchandises dangereuses, la qualité des adresses qui sont présentées dans nos pages...
</p>
<h1>Trouver votre spécialiste matière dangereuse</h1>
<div class="container">
<div class="container_left">
<p>
<span>Catégorie 1</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
</p>
<p>
<span>Catégorie 2</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.il.
</p>
<p>
<span>Catégorie 3</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat..
</p>
<p>
<span>Catégorie 4</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
</p>
<p>
<span>Catégorie 5</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.il.
</p>
<p>
<span>Catégorie 6</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat..
</p>
</div>
<div class="container_middle">
<p>
<span>Catégorie 7</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
</p>
<p>
<span>Catégorie 8</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.il.
</p>
<p>
<span>Catégorie 9</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat..
</p>
<p>
<span>Catégorie 10</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
</p>
<p>
<span>Catégorie 11</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.il.
</p>
<p>
<span>Catégorie 12</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat..
</p>
</div>
<div class="container_right">
<p>
<span>Catégorie 13</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
</p>
<p>
<span>Catégorie 14</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.il.
</p>
<p>
<span>Catégorie 15</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat..
</p>
<p>
<span>Catégorie 16</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
</p>
<p>
<span>Catégorie 17</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.il.
</p>
<p>
<span>Catégorie 18</span>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat..
</p>
</div>
</div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="annuaire-expe.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="annuaire-expe.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="annuaire-expe.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="annuaire-expe.html#">Inscrire votre entreprise</a></li>
      <li><a href="annuaire-expe.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="annuaire-expe.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="annuaire-expe.html#">Contacts</a></li>
      <li><a href="annuaire-expe.html#">Mentions légales</a></li>
      <li><a href="annuaire-expe.html#">© 2014 Solutions TMD</a></li>
      <li><a href="annuaire-expe.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });

      /*
        To have multiple slideshows on the same page
        they just need to have separate IDs
      */
      $('#slides2').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        start: 3,
        play: {
          auto: true
        }
      });

      $('#slides3').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>
