<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>

</head>
<body id="home">
<header class="header">
  <div class="header_top">
    <div class="logo"><a href="choisir-griffe.html#"><img src="images/logo.png" alt=" " /></a></div>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    <div class="social"> <a href="choisir-griffe.html#" class="gplus"></a> <a href="choisir-griffe.html#" class="twitter"></a> <a href="choisir-griffe.html#" class="facebook"></a> <a href="choisir-griffe.html#" class="linkedin"></a> <a href="choisir-griffe.html#" class="vimeo"></a> <a href="choisir-griffe.html#" class="copy"></a> <a href="choisir-griffe.html#" class="favoris"></a> </div>
  </div>
  <nav class="main-navigation">
    <div class="nav_container">
      <div class="search">
        <input type="text" placeholder="Tapez votre recherche ici" />
        <button></button>
      </div>
      <div class="menu">
        <ul>
          <li><a href="choisir-griffe.html#"> Transporteurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="choisir-griffe.html#" > Expéditeurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="choisir-griffe.html#"> Sécurité<br />
            <span>Conseillers à la sécurité</span> </a></li>
        </ul>
      </div>
      <div class="newsletter"> <a href="choisir-griffe.html#"> Newsletter<br />
        <span>S’inscrire</span> </a> </div>
      <div class="options"> <a class="annonceur" href="choisir-griffe.html#"> Espace<br />
        annonceurs </a> <a class="inscri_annuaire" href="choisir-griffe.html#"> Inscription<br />
        annuaire </a> <a class="information" href="choisir-griffe.html#"> Demande<br />
        d’informations </a> <a class="contact" href="choisir-griffe.html#"> Nous<br />
        contacter </a> </div>
    </div>
  </nav>
</header>
<div class="banner"> <div id="slides2">
       <img src="images/slider-img.jpg"> <img src="images/slider-img2.jpg"> <img src="images/slider-img4.jpg"> <img src="images/slider-img5.jpg"> <img src="images/slider-img6.jpg">
    </div></div>
    <div class="clear"></div>
<div class="main">
<center>
<h1>Agile. Puissant. Efficace.</h1>
<p class="top_description">
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
</p>
</center>
<div class="container">
<div class="container_left">
<center>
<img src="images/chat.png" alt=" "/>
<h2>Miaou</h2>
<p>Consetetur sadipscing elitr, sed<br>diam nonumy eirmod <br>tempor invidunt<br>ut labore et dolore</p>
</center>
<span class="fleche"></span>
</div>
<div class="container_middle">
<center>
<img src="images/leopard.png" alt=" "/>
<h2>Grr</h2>
<p> At vero eos et accusam et justo duo<br>dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet.</p>
</center>
<span class="fleche"></span>
</div>
<div class="container_right">
<center>
<img src="images/lion.png" alt=" "/>
<h2>Roarrr</h2>
<p>At vero eos et accusam<br> et justo duo dolores<br> et ea rebum. Stet clita kasd gubergren, no<br> sea takimata sanctus.</p>
</center>
<span class="fleche"></span>
</div>
</div>
<div class="clear"></div>
<div class="offer_types_cont">
<div class="offer_type nomargin">
<h3>Pour qui ?</h3>
<p class="check">Prestataires expéditeurs</p>
<p class="check">Prestataires transporteurs</p>
<p class="uncheck">Conseillers à la sécurité</p>
<h3>Annuaires</h3>
<p class="check">Annuaire en ligne</p>
<p class="uncheck">Annuaire papier</p>
<p class="check">Annuaire mobile</p>
<p class="uncheck">Sites partenaires</p>
<p class="uncheck">Sites partenaires</p>
<h3>Visibilité</h3>
<p class="uncheck">Première page garantie</p>
<p class="uncheck">à la une</p>
<br><br><br>
<p>Visuel<span>gratuit</span></p>
<br><br>
<span class="fleche"></span>
<a href="choisir-griffe.html#" class="select_offer">Je sélectionne l’offre<br>et je m’inscris</a>
</div>
<div class="offer_type">
<h3>Pour qui ?</h3>
<p class="check">Prestataires expéditeurs</p>
<p class="check">Prestataires transporteurs</p>
<p class="check">Conseillers à la sécurité</p>
<h3>Annuaires</h3>
<p class="check">Annuaire en ligne</p>
<p class="uncheck">Annuaire papier</p>
<p class="check">Annuaire mobile</p>
<p class="uncheck">Sites partenaires</p>
<p class="uncheck">Sites partenaires</p>
<h3>Visibilité</h3>
<p class="uncheck">Première page garantie</p>
<p class="uncheck">à la une</p>
<br><br><br>
<p>Visuel<span>à partir de xx €</span></p>
<br><br>
<span class="fleche"></span>
<a href="choisir-griffe.html#" class="select_offer">Je sélectionne l’offre<br>et je m’inscris</a>
</div>
<div class="offer_type">
<h3>Pour qui ?</h3>
<p class="check">Prestataires expéditeurs</p>
<p class="check">Prestataires transporteurs</p>
<p class="check">Conseillers à la sécurité</p>
<h3>Annuaires</h3>
<p class="check">Annuaire en ligne</p>
<p class="uncheck">Annuaire papier</p>
<p class="check">Annuaire mobile</p>
<p class="uncheck">Sites partenaires</p>
<p class="uncheck">Sites partenaires</p>
<h3>Visibilité</h3>
<p class="uncheck">Première page garantie</p>
<p class="uncheck">à la une</p>
<br><br><br>
<p>Visuel<span>à partir de xx €</span></p>
<br><br>
<span class="fleche"></span>
<a href="choisir-griffe.html#" class="select_offer">Je sélectionne l’offre<br>et je m’inscris</a>
</div>
</div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="choisir-griffe.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="choisir-griffe.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="choisir-griffe.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="choisir-griffe.html#">Inscrire votre entreprise</a></li>
      <li><a href="choisir-griffe.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="choisir-griffe.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="choisir-griffe.html#">Contacts</a></li>
      <li><a href="choisir-griffe.html#">Mentions légales</a></li>
      <li><a href="choisir-griffe.html#">© 2014 Solutions TMD</a></li>
      <li><a href="choisir-griffe.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });

      /*
        To have multiple slideshows on the same page
        they just need to have separate IDs
      */
      $('#slides2').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        start: 3,
        play: {
          auto: true
        }
      });

      $('#slides3').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>
