<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href="css/style_carousel.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>

</head>
<body id="landing_page">
<header class="header_home">
  <div class="header_top">
  <center>
    <div class="logo"><a href="home.html#"><img src="images/logo_home.png" alt=" " /></a>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    </div>
    </center>
    <div class="social"> <a href="home.html#" class="gplus"></a> <a href="home.html#" class="twitter"></a> <a href="home.html#" class="facebook"></a> <a href="home.html#" class="linkedin"></a> <a href="home.html#" class="vimeo"></a> <a href="home.html#" class="connexion">connexion</a> <a href="home.html#" class="copy"></a> <a href="home.html#" class="favoris"></a> </div>
  </div>
</header>

    <div class="clear"></div>
<div class="main">
<div class="home">
<center>
<h1>Moteur de recherche et annuaire</h1>

<p class="top_description">
Numéro 1 Français pour le transport de marchandises dangereuses
</p>
</center>
<div class="home_serach">
<input type="text" placeholder="Tapez votre recherche ici"/><button></button>
</div>
<div class="container">
<div class="container_left">
<center>


<a href="home.html#" class="transporteur_md">Transporteurs MD
<span>Inscrivez-vous maintenant dans l’annuaire</span></a>

</center>

</div>
<div class="container_middle">
<center>

<a href="home.html#" class="expediteur_md">Expéditeurs MD
<span>Inscrivez-vous maintenant dans l’annuaire</span></a>

</center>

</div>
<div class="container_right">
<center>

<a href="home.html#" class="conseiller_md">Conseiller à la sécurité
<span>Inscrivez-vous maintenant dans l’annuaire</span></a>

</center>

</div>
</div>
<div class="clear"></div>
</div>

</div>
<div class="home_carousel">
<div class="home_carousel_cont">
<div id="ca-container" class="ca-container">
<div class="ca-wrapper">

				<div class="ca-item ca-item-1">
						<div class="ca-item-main">
							<h3>L’ ANCS a déjà 10 ans</h3>
							<p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore utate velit esse molestie cons <strong>...</strong>
                            </p>
								
						</div>
					</div>
                    
                    
                    <div class="ca-item ca-item-2">
						<div class="ca-item-main">
							<h3>Mouvements transfrontièresdes déchets</h3>
							<p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore utate velit esse molestie cons <strong>...</strong>
                            </p>
								
						</div>
					</div>
                    
                    <div class="ca-item ca-item-3">
						<div class="ca-item-main">
							<h3>Arrêté TMD, refonte du rapport annuel d’actitvité</h3>
							<p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore utate velit esse molestie cons <strong>...</strong>
                            </p>
								
						</div>
					</div>
                    
                    <div class="ca-item ca-item-4">
						<div class="ca-item-main">
							<h3>Arrêté TMD, refonte du rapport annuel d’actitvité</h3>
							<p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore utate velit esse molestie cons <strong>...</strong>
                            </p>
								
						</div>
					</div>
                    
</div>
</div>
</div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="home.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="home.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="home.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="home.html#">Inscrire votre entreprise</a></li>
      <li><a href="home.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="home.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="home.html#">Contacts</a></li>
      <li><a href="home.html#">Mentions légales</a></li>
      <li><a href="home.html#">© 2014 Solutions TMD</a></li>
      <li><a href="home.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<!-- the jScrollPane script -->
		<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
		<script type="text/javascript">
			$('#ca-container').contentcarousel();
		</script>
</body>
</html>
