<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>

</head>
<body>
<header class="header">
  <div class="header_top">
    <div class="logo"><a href="inscri-etape1.html#"><img src="images/logo.png" alt=" " /></a></div>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    <div class="social"> <a href="inscri-etape1.html#" class="gplus"></a> <a href="inscri-etape1.html#" class="twitter"></a> <a href="inscri-etape1.html#" class="facebook"></a> <a href="inscri-etape1.html#" class="linkedin"></a> <a href="inscri-etape1.html#" class="viadeo"></a> <a href="inscri-etape1.html#" class="copy"></a> <a href="inscri-etape1.html#" class="favoris"></a> </div>
  </div>
  <nav class="main-navigation">
    <div class="nav_container">
      <div class="search">
        <input type="text" placeholder="Tapez votre recherche ici" />
        <button></button>
      </div>
      <div class="menu">
        <ul>
          <li><a href="inscri-etape1.html#"> Transporteurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="inscri-etape1.html#" > Expéditeurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="inscri-etape1.html#"> Sécurité<br />
            <span>Conseillers à la sécurité</span> </a></li>
        </ul>
      </div>
      <div class="newsletter"> <a href="inscri-etape1.html#"> Newsletter<br />
        <span>S’inscrire</span> </a> </div>
      <div class="options"> <a class="annonceur" href="inscri-etape1.html#"> Espace<br />
        annonceurs </a> <a class="inscri_annuaire" href="inscri-etape1.html#"> Inscription<br />
        annuaire </a> <a class="information" href="inscri-etape1.html#"> Demande<br />
        d’informations </a> <a class="contact" href="inscri-etape1.html#"> Nous<br />
        contacter </a> </div>
    </div>
  </nav>
</header>
<div class="banner"> <div id="slides2">
       <img src="images/slider-img.jpg"> <img src="images/slider-img2.jpg"> <img src="images/slider-img4.jpg"> <img src="images/slider-img5.jpg"> <img src="images/slider-img6.jpg">
    </div></div>
    <div class="clear"></div>
<div class="main">
<center>
<p class="top_description">
Remplissez les champs du formulaire en vérifiant attentivement les informations saisies. Les champs obligatoires sont marqués d'un <strong>*</strong>, ne les oubliez pas! </p>
</center>
<div class="container">
<div class="form_description">
<table width="100%">
  <tr>
    <td width="20%"><label>Raison Sociale:</label></td>
    <td td width="30%"><input type="text"/></td>
    <td td width="30%"><p><strong>*</strong> Le nom de votre société</p></td>
  </tr>
  <tr>
    <td><label>Adresse 1:</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Numéro et rue du siège social de la société</p></td>
  </tr>
  <tr>
    <td><label>Adresse 2:</label></td>
    <td><input type="text"/></td>
    <td><p> S'il y a lieu, complétez l'adresse (étage, C/O, etc...)</p></td>
  </tr>
  <tr>
    <td><label>Code Postal:</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Le code postal du siège sociale</p></td>
  </tr>
  <tr>
    <td><label>Ville:</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> La ville du siège sociale</p></td>
  </tr>
  <tr>
    <td><label>Email (public):</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Cette adresse mail sera visible 
sur internetet peut être de fait exposée au spams. Ne donnez pas 
d'adresse personnelle. Ce champs reste facultatif</p></td>
  </tr>
  <tr>
    <td><label>Téléphone:</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Ce numéro sera visible des internautes et peut être utilisé à des fins de prospections téléphoniques par d'autres sociétés</p></td>
  </tr>
  <tr>
    <td><label>Fax:</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Ce numéro sera visible des internautes et peut être utilisé à des fins de prospections téléphoniques par d'autres sociétés</p></td>
  </tr>
  <tr>
    <td><label>Site Internet:</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Le site internet de votre société sera affiché dans l'annuaire</p></td>
  </tr>
  <tr>
    <td><label>Logo:</label></td>
    <td><input type="file"/></td>
    <td><p><strong>IMPORTANT:</strong> l'upload
 d'un logo est facultatif. Ce dernier doit respecter les critères 
suivant pour pouvoir être enregistré dans l'annuaire: Dimensions 150px X
 150px, poids maximum 20Ko, format jpg, jpeg ou png.</p></td>
  </tr>
  <tr>
  <td></td>
  <td><button class="next">Etape 1/6</button></td>
    <td></td>
    </tr>
</table>
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="inscri-etape1.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="inscri-etape1.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="inscri-etape1.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="inscri-etape1.html#">Inscrire votre entreprise</a></li>
      <li><a href="inscri-etape1.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="inscri-etape1.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="inscri-etape1.html#">Contacts</a></li>
      <li><a href="inscri-etape1.html#">Mentions légales</a></li>
      <li><a href="inscri-etape1.html#">© 2014 Solutions TMD</a></li>
      <li><a href="inscri-etape1.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });

      /*
        To have multiple slideshows on the same page
        they just need to have separate IDs
      */
      $('#slides2').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        start: 3,
        play: {
          auto: true
        }
      });

      $('#slides3').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>
