<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>

</head>
<body>
<header class="header">
  <div class="header_top">
    <div class="logo"><a href="inscri-etape2.html#"><img src="images/logo.png" alt=" " /></a></div>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    <div class="social"> <a href="inscri-etape2.html#" class="gplus"></a> <a href="inscri-etape2.html#" class="twitter"></a> <a href="inscri-etape2.html#" class="facebook"></a> <a href="inscri-etape2.html#" class="linkedin"></a> <a href="inscri-etape2.html#" class="viadeo"></a> <a href="inscri-etape2.html#" class="copy"></a> <a href="inscri-etape2.html#" class="favoris"></a> </div>
  </div>
  <nav class="main-navigation">
    <div class="nav_container">
      <div class="search">
        <input type="text" placeholder="Tapez votre recherche ici" />
        <button></button>
      </div>
      <div class="menu">
        <ul>
          <li><a href="inscri-etape2.html#"> Transporteurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="inscri-etape2.html#" > Expéditeurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="inscri-etape2.html#"> Sécurité<br />
            <span>Conseillers à la sécurité</span> </a></li>
        </ul>
      </div>
      <div class="newsletter"> <a href="inscri-etape2.html#"> Newsletter<br />
        <span>S’inscrire</span> </a> </div>
      <div class="options"> <a class="annonceur" href="inscri-etape2.html#"> Espace<br />
        annonceurs </a> <a class="inscri_annuaire" href="inscri-etape2.html#"> Inscription<br />
        annuaire </a> <a class="information" href="inscri-etape2.html#"> Demande<br />
        d’informations </a> <a class="contact" href="inscri-etape2.html#"> Nous<br />
        contacter </a> </div>
    </div>
  </nav>
</header>
<div class="banner"> <div id="slides2">
       <img src="images/slider-img.jpg"> <img src="images/slider-img2.jpg"> <img src="images/slider-img4.jpg"> <img src="images/slider-img5.jpg"> <img src="images/slider-img6.jpg">
    </div></div>
    <div class="clear"></div>
<div class="main">
<center>
<p class="top_description">
Remplissez les champs du formulaire en vérifiant attentivement les informations saisies. Les champs obligatoires sont marqués d'un <strong>*</strong>, ne les oubliez pas! </p>
</center>
<div class="container">
<div class="form_description">
<table width="100%">
  <tr>
    <td width="20%"><label>Nom :</label></td>
    <td td width="30%"><input type="text"/></td>
    <td td width="30%"><p><strong>*</strong> Nom du responsable</p></td>
  </tr>
  <tr>
    <td><label>Prénom :</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Prénom du responsable</p></td>
  </tr>
  <tr>
    <td><label>Téléphone :</label></td>
    <td><input type="text"/></td>
    <td><p> Téléphone du responsable</p></td>
  </tr>
  <tr>
    <td><label>Email :</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> L'adresse email du responsable. Cette adresse email servira également d'identifian pour la connexion à votre compte</p></td>
  </tr>
  <tr>
    <td><label>Mot de passe :</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Choisir un mot de passe dificile à trouver. Par exemple mélangez lettres,chiffres et symboles; majuscules et minuscules. Le mot de passe ne peut etre ni e nom, ni le prénom, ni l'adresse email du responsable.</p></td>
  </tr>
  <tr>
    <td><label>Confirmaion du mot de passe:</label></td>
    <td><input type="text"/></td>
    <td><p><strong>*</strong> Tapez votre mot de passe un seconde fois.</p></td>
  </tr>
  <tr>
  <td></td>
  <td> <button class="next">Revenir à l'étape précédente</button><button class="prev">Suivant</button></td>
    <td></td>
    </tr>
</table>
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="inscri-etape2.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="inscri-etape2.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="inscri-etape2.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="inscri-etape2.html#">Inscrire votre entreprise</a></li>
      <li><a href="inscri-etape2.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="inscri-etape2.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="inscri-etape2.html#">Contacts</a></li>
      <li><a href="inscri-etape2.html#">Mentions légales</a></li>
      <li><a href="inscri-etape2.html#">© 2014 Solutions TMD</a></li>
      <li><a href="inscri-etape2.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });

      /*
        To have multiple slideshows on the same page
        they just need to have separate IDs
      */
      $('#slides2').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        start: 3,
        play: {
          auto: true
        }
      });

      $('#slides3').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>
