<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>

</head>
<body id="annuaire-transp">
<header class="header">
  <div class="header_top">
    <div class="logo"><a href="inscri.html#"><img src="images/logo.png" alt=" " /></a></div>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    <div class="social"> <a href="inscri.html#" class="gplus"></a> <a href="inscri.html#" class="twitter"></a> <a href="inscri.html#" class="facebook"></a> <a href="inscri.html#" class="linkedin"></a> <a href="inscri.html#" class="viadeo"></a> <a href="inscri.html#" class="copy"></a> <a href="inscri.html#" class="favoris"></a> </div>
  </div>
  <nav class="main-navigation">
    <div class="nav_container">
      <div class="search">
        <input type="text" placeholder="Tapez votre recherche ici" />
        <button></button>
      </div>
      <div class="menu">
        <ul>
          <li class="selected"><a href="inscri.html#"> Transporteurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="inscri.html#"> Expéditeurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="inscri.html#"> Sécurité<br />
            <span>Conseillers à la sécurité</span> </a></li>
        </ul>
      </div>
      <div class="newsletter"> <a href="inscri.html#"> Newsletter<br />
        <span>S’inscrire</span> </a> </div>
      <div class="options"> <a class="annonceur" href="inscri.html#"> Espace<br />
        annonceurs </a> <a class="inscri_annuaire" href="inscri.html#"> Inscription<br />
        annuaire </a> <a class="information" href="inscri.html#"> Demande<br />
        d’informations </a> <a class="contact" href="inscri.html#"> Nous<br />
        contacter </a> </div>
    </div>
  </nav>
</header>
<div class="banner"> <div id="slides2">
       <img src="images/slider-img.jpg"> <img src="images/slider-img2.jpg"> <img src="images/slider-img4.jpg"> <img src="images/slider-img5.jpg"> <img src="images/slider-img6.jpg">
    </div></div>
    <div class="clear"></div>
<div class="main">


<div class="container inscription">
<div class="container_left">
<h1>Récapitulatif</h1>
<p class="side_description">
Vérifiez soigneusement les informations présentées ci-dessous avant de valider. Vous pouvez revenir aux étapes précédentes pour modifier
</p>
</div>
<div class="side_bar">
<div class="container_middle">
<h4>La société</h4>
<br>
<p>Masociété<br>
2 rue Dupont<br>
69000 Lyon
<br><br>
T. 04 78 00 00 00<br>
F. 04 78 01 00 00<br>
email : contact@masociété.fr<br>
site internet : www.masociété.fr<br>
</p>
<a href="inscri.html#">Modifier</a>
<br><br><br>
<h4>Le logo</h4>
<img src="images/freepick_logo.png" alt=""/>
<a href="inscri.html#">Modifier</a>
</div>
<div class="container_right">
<h4>Le responsable</h4>
<br>
<p>Eric Dupont
<br><br>
email : edupont@masociété.fr<br>
pass : 0fejuJOde2<br>
<br><br>
T. 04 78 03 00 00 <br>
</p>
<a href="inscri.html#">Modifier</a>
<br><br><br><br>
<h4>Votre formule</h4>
<p>
<img src="images/roarr_icon.png" alt=""/>
Offre « Roarr »
Visuel à partir de xxx €
</p>
<a href="inscri.html#">Revoir le détails de l’offre</a>
</div>
<div class="clear"></div>
<div>
<h4>L’ activité</h4>
<p>Conseiller à la sécurité<br>
Prestataire pour transporteur de matières dangereuses<br>
Prestataire pour expéditeur de matières dangereuses<br>
</p>
<a href="inscri.html#">Modifier</a>

<h4>DESCRIPTION</h4>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</p>
<a href="inscri.html#">Modifier</a>

<h4>catégories</h4>
<p>Pas de catégories pour les conseillers à la sécurité.</p>
<a href="inscri.html#">Modifier</a>
<br><br><br>
<h2>Un conseiller SolutionsTMD va vous contacter pour finaliser votre inscription. C’est aussi pour nous une façon de vérifier l’exactitude des informations et de s’assurer de la qualité des informations présentées par SolutionsTMD.</h2>
<br><br><br>


<div class="checkbox_left">
<h4>Newsletter</h4>
<input type="checkbox">
              Je m’abonne à la newsletter et je reste informé des dernières
              actualités sur le transport de marchandises dangereuses.
  </div>            

    <div class="checkbox_right">          
<h4>Partenaires</h4>
<input type="checkbox">
              J’accepte de recevoir des offres exceptionnelles concernant
              le transport de marchandises dangereuses de la part
              des partenaires de SolutionsTMD.
      </div>        
<div class="clear"></div>             
<label class="confirm"><input type="checkbox">J’ai lu et accepte <strong>les conditions générales d’utilisation</strong> du site</label>
<br><br><br><br>
<div class="clear"></div>
<a href="inscri.html#" class="revenir">Revenir à l’étape<br>précédente</a><a class="recap" href="inscri.html#">Recapitulatif - Je confirme et soumet mon inscription</a>
</div>
</div>
</div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="inscri.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="inscri.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="inscri.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="inscri.html#">Inscrire votre entreprise</a></li>
      <li><a href="inscri.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="inscri.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="inscri.html#">Contacts</a></li>
      <li><a href="inscri.html#">Mentions légales</a></li>
      <li><a href="inscri.html#">© 2014 Solutions TMD</a></li>
      <li><a href="inscri.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });

      /*
        To have multiple slideshows on the same page
        they just need to have separate IDs
      */
      $('#slides2').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        start: 3,
        play: {
          auto: true
        }
      });

      $('#slides3').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>
