<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>

</head>
<body id="home">
<header class="header">
  <div class="header_top">
    <div class="logo"><a href="pk-sinscrire.html#"><img src="images/logo.png" alt=" " /></a></div>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    <div class="social"> <a href="pk-sinscrire.html#" class="gplus"></a> <a href="pk-sinscrire.html#" class="twitter"></a> <a href="pk-sinscrire.html#" class="facebook"></a> <a href="pk-sinscrire.html#" class="linkedin"></a> <a href="pk-sinscrire.html#" class="vimeo"></a> <a href="pk-sinscrire.html#" class="copy"></a> <a href="pk-sinscrire.html#" class="favoris"></a> </div>
  </div>
  <nav class="main-navigation">
    <div class="nav_container">
      <div class="search">
        <input type="text" placeholder="Tapez votre recherche ici" />
        <button></button>
      </div>
      <div class="menu">
        <ul>
          <li><a href="pk-sinscrire.html#"> Transporteurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="pk-sinscrire.html#" > Expéditeurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="pk-sinscrire.html#"> Sécurité<br />
            <span>Conseillers à la sécurité</span> </a></li>
        </ul>
      </div>
      <div class="newsletter"> <a href="pk-sinscrire.html#"> Newsletter<br />
        <span>S’inscrire</span> </a> </div>
      <div class="options"> <a class="annonceur" href="pk-sinscrire.html#"> Espace<br />
        annonceurs </a> <a class="inscri_annuaire" href="pk-sinscrire.html#"> Inscription<br />
        annuaire </a> <a class="information" href="pk-sinscrire.html#"> Demande<br />
        d’informations </a> <a class="contact" href="pk-sinscrire.html#"> Nous<br />
        contacter </a> </div>
    </div>
  </nav>
</header>
<div class="banner"> <div id="slides2">
       <img src="images/slider-img.jpg"> <img src="images/slider-img2.jpg"> <img src="images/slider-img4.jpg"> <img src="images/slider-img5.jpg"> <img src="images/slider-img6.jpg">
    </div></div>
    <div class="clear"></div>
<div class="main">
<center>
<h1>Moteur de recherche et annuaire</h1>
<p class="top_description">
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
</p>
</center>
<div class="container">
<div class="container_left">
<center>


<a href="pk-sinscrire.html#" class="transporteur_md">Transporteurs MD
<span>Inscrivez-vous maintenant dans l’annuaire</span></a>

</center>

</div>
<div class="container_middle">
<center>

<a href="pk-sinscrire.html#" class="expediteur_md">Expéditeurs MD
<span>Inscrivez-vous maintenant dans l’annuaire</span></a>

</center>

</div>
<div class="container_right">
<center>

<a href="pk-sinscrire.html#" class="conseiller_md">Conseiller à la sécurité
<span>Inscrivez-vous maintenant dans l’annuaire</span></a>

</center>

</div>
</div>
<div class="clear"></div>
<div class="pk_left">
<h1>SolutionsTMD<br>n’est pas qu’un annuaire...</h1>
<br>
<p align="left">
Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
<br><br>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
<br><br>
Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
<br><br>
       <a href="pk-sinscrire.html#"> Passez à l’inscription</a>
</p>
</div>
<div class="pk_right">
<img src="images/img2.png" alt=""/>
</div>
<div class="clear"></div>
<div class="pk_left">

<h1 align="right">Pourquoi s’inscrire ?</h1>
<br>
<p align="right">
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
<br><br>
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
<br><br>
<a href="pk-sinscrire.html#">Passez à l’inscription</a>
</p>
</div>
<div class="pk_right">
<img src="images/img.png" alt=""/>
</div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="pk-sinscrire.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="pk-sinscrire.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="pk-sinscrire.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="pk-sinscrire.html#">Inscrire votre entreprise</a></li>
      <li><a href="pk-sinscrire.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="pk-sinscrire.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="pk-sinscrire.html#">Contacts</a></li>
      <li><a href="pk-sinscrire.html#">Mentions légales</a></li>
      <li><a href="pk-sinscrire.html#">© 2014 Solutions TMD</a></li>
      <li><a href="pk-sinscrire.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });

      /*
        To have multiple slideshows on the same page
        they just need to have separate IDs
      */
      $('#slides2').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        start: 3,
        play: {
          auto: true
        }
      });

      $('#slides3').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>
