<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="css/styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300' rel='stylesheet' type='text/css'>
<title>stmd</title>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/jquery.slides.min.js"></script>
</head>
<body id="conseiller">
<header class="header">
  <div class="header_top">
    <div class="logo"><a href="rch-conseiller.html#"><img src="images/logo.png" alt=" " /></a></div>
    <div class="slogan">
      <p> Le carnet d’adresses des expéditeurs et des transporteurs<br />
        de marchandises dangereuses </p>
    </div>
    <div class="social"> <a href="rch-conseiller.html#" class="gplus"></a> <a href="rch-conseiller.html#" class="twitter"></a> <a href="rch-conseiller.html#" class="facebook"></a> <a href="rch-conseiller.html#" class="linkedin"></a> <a href="rch-conseiller.html#" class="viadeo"></a> <a href="rch-conseiller.html#" class="copy"></a> <a href="rch-conseiller.html#" class="favoris"></a> </div>
  </div>
  <nav class="main-navigation">
    <div class="nav_container">
      <div class="search">
        <input type="text" placeholder="Tapez votre recherche ici" />
        <button></button>
      </div>
      <div class="menu">
        <ul>
          <li><a href="rch-conseiller.html#"> Transporteurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="rch-conseiller.html#" > Expéditeurs MD<br />
            <span>Annuaire des prestataires</span> </a></li>
          <li><a href="rch-conseiller.html#"> Sécurité<br />
            <span>Conseillers à la sécurité</span> </a></li>
        </ul>
      </div>
      <div class="newsletter"> <a href="rch-conseiller.html#"> Newsletter<br />
        <span>S’inscrire</span> </a> </div>
      <div class="options"> <a class="annonceur" href="rch-conseiller.html#"> Espace<br />
        annonceurs </a> <a class="inscri_annuaire" href="rch-conseiller.html#"> Inscription<br />
        annuaire </a> <a class="information" href="rch-conseiller.html#"> Demande<br />
        d’informations </a> <a class="contact" href="rch-conseiller.html#"> Nous<br />
        contacter </a> </div>
    </div>
  </nav>
</header>
<div class="banner">
  <div id="slides2"> <img src="images/slider-img.jpg"> <img src="images/slider-img2.jpg"> <img src="images/slider-img4.jpg"> <img src="images/slider-img5.jpg"> <img src="images/slider-img6.jpg"> </div>
</div>
<div class="clear"></div>
<div class="main">
  <center>
    <h1>Sélectionnez, validez et trouvez !</h1>
    <p class="top_description"> En France, l’intervention d’un conseiller à la sécurité pour le transport de marchandises dangereuses est une obligation légale. Si vous vous aprêtez à faire transporter des matières dangereuses, vous devez sélectionner un conseiller à la sécurité qui exerce pour la classe correspondant à la matière dangereuse transportée ET au mode de transport qui sera utilisé : transport de marchandises par route (ADR), transport de marchandises dangereuses par chemin de fer (RID), transport de marchandises dangereuses par voies navigables (ADN). </p>
  </center>
  <div class="container">
    <div class="container_left">
      <center>
        <span class="region"></span>
        <h2>Région d’intervention</h2>
        <p>Choisissez la région dans laquelle<br>
          le conseiller à la sécurité devra intervenir.<br>
          Un conseiller à la sécurité peut intervenir<br>
          dans plusieurs régions).</p>
        <span class="fleche"></span>
      </center>
    </div>
    <div class="container_middle">
      <center>
        <span class="classe"></span>
        <h2>Classe de matières</h2>
        <p>La classe de matières dangereuses<br>
          correspond au domaine de spécialisation<br>
          du conseiller à la sécurité.<br>
          Choisissez au moins une classe.</p>
        <span class="fleche"></span>
      </center>
    </div>
    <div class="container_right">
      <center>
        <span class="mode"></span>
        <h2>Mode de transport</h2>
        <p>Par la route, le train ou le bateau.<br>
          Choisissez le mode que vous souhaitez<br>
          emprunter pour le transport<br>
          de vos matières dangereuses.</p>
        <span class="fleche"></span>
      </center>
    </div>
  </div>
  <div class="clear"></div>
  <div class="counsel">
    <center>
      <h2>1- Région d’intervention</h2>
      <br>
      <p>Région parisienne   /  Nord-Est   /   Sud-Est   /   Sud-Ouest   /   Ouest</p>
      <br>
      <br>
      <img src="images/map.png" alt=""/> <span class="arrow-big"></span>
      <h2>2- Classe de matière</h2>
    </center>
    <div class="counsel_left">
      <ul>
        <li class="check_list">Classe 1 : les explosifs</li>
        <li>Classe 2 : les gaz</li>
        <li>Classe 3 : les liquides inflammables</li>
        <li class="check_list">Classe 4.1 : les solides inflammables</li>
        <li>Classe 4.2 : les matières spontanément inflammables</li>
        <li>Classe 4.3 : les matières qui dégagent des gaz inflammables au contact de l’eau</li>
      </ul>
    </div>
    <div class="counsel_right">
      <ul>
        <li>Classe 5.1 : les matières comburantes</li>
        <li>Classe 5.2 : les peroxydes organiques</li>
        <li>Classe 6.1 : les matières toxiques</li>
        <li class="check_list">Classe 6.2 : les matières infectieuses</li>
        <li>Classe 7 : les matières radioactives</li>
        <li>Classe 8 : les matières corrosives</li>
        <li>Classe 9 : les matières et objets dangereux divers</li>
      </ul>
    </div>
    <div class="clear"></div>
    <span class="arrow-big"></span>
    <div class="counsel_left">
    <center>
    <h2>3- Mode de transport</h2>
    <a href="rch-conseiller.html#"><img src="images/ancs_logo.png"/></a>
    </center>
    </div>
    <div class="counsel_right">
    <center>
    <a class="route" href="rch-conseiller.html#">
    Route
<span>Réglementation ADR</span>
    </a>
    <a class="chemin" href="rch-conseiller.html#">
    Chemin de fer
<span>Réglementation RID</span>
    </a>
    <a class="voie" href="rch-conseiller.html#">
    Voies navigables
<span>Réglementation ADN</span>
    </a>
    </center>
    </div>
    <div class="clear"></div>
    <span class="arrow-big"></span>
    <center>
    <h1>Voir les 650 résultats trouvés</h1>
    <a class="new_search" href="rch-conseiller.html#">Effectuer une nouvelle recherche</a>
    </center>
  </div>
</div>
<div class="clear"></div>
<footer class="footer">
  <div class="footer_container">
    <ul class="footer_nav_top">
      <li><a href="rch-conseiller.html#">Trouver un conseiller à la sécurité</a></li>
      <li><a href="rch-conseiller.html#">Prestataires pour transporteurs MD</a></li>
      <li><a href="rch-conseiller.html#">Prestataires pour expéditeurs MD</a></li>
      <li><a href="rch-conseiller.html#">Inscrire votre entreprise</a></li>
      <li><a href="rch-conseiller.html#">S’inscrire à la newsletter</a></li>
      <li><a class="nosep" href="rch-conseiller.html#">GMJ Phoenix</a></li>
    </ul>
    <ul class="footer_nav_bot">
      <li><a href="rch-conseiller.html#">Contacts</a></li>
      <li><a href="rch-conseiller.html#">Mentions légales</a></li>
      <li><a href="rch-conseiller.html#">© 2014 Solutions TMD</a></li>
      <li><a href="rch-conseiller.html#">Studio http</a></li>
    </ul>
  </div>
</footer>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });

      /*
        To have multiple slideshows on the same page
        they just need to have separate IDs
      */
      $('#slides2').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        start: 3,
        play: {
          auto: true
        }
      });

      $('#slides3').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>
